#clock {
  position: relative;
  vertical-align: center;
  text-align: center;
  font-size: 120px;
  font-family: Geneva;
  z-index: 3;
  color: #7ECDD3;
}  

#background {
/*  background-color: rgba(100,100,100,1);*/
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  vertical-align: center;
}
